RUN_SCRIPTS_IN_DEVELOPMENT=false
RESIZE_IMAGE_ASSETS_ON_BUILD=false
GENERATE_ASSETS_ON_BUILD=false
NEXT_PUBLIC_PAGINATION=30
NEXT_PUBLIC_URL=http://localhost:3000
NEXT_PUBLIC_GIT_REPO=
NEXT_PUBLIC_GIT_BRANCH=
NEXT_PUBLIC_GIT_OAUTH_URL=